{% extends "base.html" %}
<html>
	<head>
		{%block head %}
		<script type="text/javascript" src="/static/scripts/ailk.js"></script>
		<title> ailk股票计价</title>
		{%endblock%}
	</head>
	<body>
		{%block sidebar-left %}
		    <li class="nav-header">小工具</li>
		    <li><a href="/tax">个人所得税计算器</a></li>
		    <li class="active"><a href="/ailk">ailk股票计价</a></li>
		    <li class="divider"></li>
		    <li><a href="/admin/android">android应用管理</a></li>
		{%endblock%}
		{%block content %}
		<div id="ae-right-content">
			<div id="ae-form-body" class="g-doc">
				<form action='/ailk' method='post'>
					<div style="margin-bottom: 5px;"><strong>您的联创股票数：</strong></div>
					<div>
						<input type="text" id="shares" name="shares" style="width:100px;height:22px;" value="{{shares}}">
						<input class='goog-button' type='submit' value='Calculate' />
					</div>
				</form>
			</div>
			<div id="ae-result-body" class="g-doc">
				{% if errInfo %}
				<div>{{errInfo}}</div>
				{% else %}
				<table class="table">
					<caption>
						<strong>
							Your Stock Infomations - {{tradeDate}}
						</strong>
					</caption>
					<thead>
						<th>ASIA</th>
						<th>Exchange Rate</th>
						<th>ASIA Shares</th>
						<th>Total Money</th>
					</thead>
					<tbody>
						<tr>
							<td>${{stock}}</td>
							<td>{{exRate}}</td>
							<td>{{ailkshares}}</td>
							<td>￥{{money}}</td>
						</tr>
					</tbody>
				</table>
				{% endif %}
			</div>
		</div>
		{%endblock%}
	</body>
</html>