<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		{%block head %}{%endblock%}
	</head>
	<body>
		<div class="row">
       		<div class="container">
       			<div class="row-fluid">
       				<div class="span2">
						{%block logo %}
						<a href="/">
							<img alt="kxyk's tools" src="/static/images/logo.png">
						</a>
						{%endblock%}
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="span3">
					<ul class="nav nav-list">
						{%block sidebar-left %}
						<li class="nav-header">小工具</li>
						<li><a href="/tax">个人所得税计算器</a></li>
						<li><a href="/ailk">ailk股票计价</a></li>
						<li class="divider"></li>
						<li><a href="/admin/android">android应用管理</a></li>
						{%endblock%}
					</ul>
				</div>
				<div class="span9">
					{%block content %}{%endblock%}
				</div>
			</div>
			
		</div>
		<div class="container">
	  		<div>
	  			<div>©2011 <a href="http://tools.kxyk.info">Kxyk's Tools</a>
	  				 Powered by <a href="http://code.google.com/appengine/" rel="nofollow">Google App Engine</a>
	  			</div>
	  			<div>
	  				除非另有声明，本站文章采用 <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/cn/">知识共享署名-非商业性使用 2.5 中国大陆许可协议</a> 进行许可。
	  			</div>
	  		</div>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-7903063-3']);
		  _gaq.push(['_setDomainName', 'kxyk.info']);
		  _gaq.push(['_setAllowHash', false]);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>