{% extends "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="content-type">
		{%block head %}
		<title> 2011个人所得税计算器</title>
		{%endblock%}
	</head>
	<body>
	{%block sidebar-left %}
		<div id="ae-left-content">
			<div id="ae-lhs-nav" class="g-c">
				<div id="ae-nav">
				<ul>
					<li id="ae-nav-dashboard">
						<span class="ae-nav-section">
						小工具
						</span>
							<ul>
								<li>
									<a class="ae-nav-selected" href="/tax">
									个人所得税计算器
									</a>
								</li>
								<li>
									<a href="/ailk">
									ailk股票计价
									</a>
								</li>
							</ul>
					</li>
				</ul>
				</div>
			</div>
		</div>
	{%endblock%}
	{%block content %}
		<div id="ae-right-content">
			<div id="ae-form-body" class="g-doc">
				<form action='/tax' method='post'>
					<div style="margin-bottom: 5px;"><strong>您的税前收入：</strong></div>
					<div><input type="text" id="salary" name="salary" style="width:100px;height:22px;" value="{{salary}}"></div>
					<div style="margin-bottom: 5px;"><strong>5险1金：</strong></div>
					<div><input type="text" id="m401k" name="m401k" style="width:100px;height:22px;" value="{{m401k}}">
						<input class='goog-button' type='submit' value='Calculate' />
					</div>
				</form>
			</div>
			<div id="ae-result-body" class="g-doc">
				{% if errInfo %}
				<div>{{errInfo}}</div>
				{% else %}
				<div>您的税后收入为：￥{{after_tax}}</div>
				<div>缴纳个人所得税：￥{{tax}}</div>
				{% endif %}
				<h3><strong>税率表 (工资、薪金所得适用)</strong></h3>
				<table cellspacing="0" cellpadding="0" border="1" width="100%">
					<tbody>
						<tr>
							<td><strong><span>级数</span></strong></td>
							<td><strong><span>含税级距</span></strong></td>
							<td><strong><span>不含税级距</span></strong></td>
							<td><strong><span>税率(%)</span></strong></td>
							<td><strong><span>速算扣除数</span></strong></td>
						</tr>
						<tr>
							<td>1</td>
							<td>不超过1500元的</td>
							<td>不超过1455元的</td>
							<td>3</td>
							<td>0</td>
						</tr>
						<tr>
							<td>2</td>
							<td>超1500元至4500元的部分</td>
							<td>超过1455元至4155元的部分</td>
							<td>10</td>
							<td>105</td>
						</tr>
						<tr>
							<td>3</td>
							<td>超过4500元至9000元的部分</td>
							<td>超过4155元至7755元的部分</td>
							<td>20</td>
							<td>555</td>
						</tr>
						<tr>
							<td>4</td>
							<td>超过9000元至35000元的部分</td>
							<td>超过7755元至27255元的部分</td>
							<td>25</td>
							<td>1005</td>
						</tr>
						<tr>
							<td>5</td>
							<td>超过35000元至55000元的部分</td>
							<td>超过27255元至41255元的部分</td>
							<td>30</td>
							<td>2755</td>
						</tr>
						<tr>
							<td>6</td>
							<td>超过55000元至80000元的部分</td>
							<td>超过41255元至57505元的部分</td>
							<td>35</td>
							<td>5505</td>
						</tr>
						<tr>
							<td>7</td>
							<td>超过80000元的部分</td>
							<td>超过57505元的部分</td>
							<td>45</td>
							<td>13505</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	{%endblock%}
	</body>
</html>